.css-mlnwnh-MuiButtonBase-root-MuiButton-root:hover {
  border-color: #7C8B9D;
  background-color: transparent;
}

.css-19g3f9-MuiButtonBase-root-MuiButton-root:hover {
  background-color: #4B4747;
}

.css-1g2y2oh-MuiButtonBase-root-MuiButton-root:hover {
  background-color: gray;
}